# Python for Data Science

In [3]:
# Difference between a list and tuple
my_list=[1,2,3,4,5,6.9,7.2,1,3,5]
my_tuple=(1,2,3,4,5,6.9,7.2)
set_variable={1,2,3,4,5,6.9,7.2}

In [21]:
# Simlarity
# print("List value ")
# my_list[5]
# print("Tuple value ") 
# my_tuple[1]

In [26]:
# Diff
# tuples are immutable - no modifications 
# my_tuple[2]=5
# to modify it first convert it to a list

In [31]:
# Set variables also are immutable 
# also, can't contain duplicate values
# some_set={1,2,3,5,2,2.1}
# some_set
# hence useful to remove redundant values from a list or set

In [35]:
# so we convert a list to set and then again back to a list to remove duplicate values
list(set(my_list))

[1, 2, 3, 4, 5, 6.9, 7.2]

In [44]:
# Dictionary 
# It creates keys and assign values to it 
person_variable={
    'name':"Momo",
    "color":"Brown",
    'number':7
}

In [45]:
# we parse through keys to get values
person_variable['name']

'Momo'

# Lists

#### CRUD

##### Create

In [47]:
names=['Captain Marvel','Bruce Banner','Natasha Romanoff','Clint Bartan','Tony Stark','Thor','Steve Rogers']

##### Read

In [53]:
# indexing 

names[0] #first element 
names[-1] #last element
len(names) #len of elements

'Captain Marvel'

##### Update

In [60]:
names[-2]='Thor Odinson'
names

['Captain Marvel',
 'Bruce Banner',
 'Natasha Romanoff',
 'Clint Bartan',
 'Tony Stark',
 'Thor Odinson',
 'Steve Rogers']

In [62]:
# we forgot spidey
names.append('Peter Parker')
names

['Captain Marvel',
 'Bruce Banner',
 'Natasha Romanoff',
 'Clint Bartan',
 'Tony Stark',
 'Thor Odinson',
 'Steve Rogers',
 'Peter Parker']

In [63]:
names.insert(0,'Nick Fury')
names

['Nick Fury',
 'Captain Marvel',
 'Bruce Banner',
 'Natasha Romanoff',
 'Clint Bartan',
 'Tony Stark',
 'Thor Odinson',
 'Steve Rogers',
 'Peter Parker']

##### Delete

In [65]:
del names[1]
names

['Nick Fury',
 'Bruce Banner',
 'Natasha Romanoff',
 'Clint Bartan',
 'Tony Stark',
 'Thor Odinson',
 'Steve Rogers',
 'Peter Parker']

### Dictionaries

In [ ]:
# create

In [66]:
names={
    "name":"Somo" , 
    "age": 21, 
    "race": "Indian",
    "color": "Brown"
}

In [ ]:
# read

In [67]:
names

{'name': 'Somo', 'age': 21, 'race': 'Indian', 'color': 'Brown'}

In [70]:
names["name"]

'Somo'

In [71]:
age = names['age']
age

21

In [72]:
names.keys()

dict_keys(['name', 'age', 'race', 'color'])

In [73]:
print(list(names))

['name', 'age', 'race', 'color']

In [74]:
names.values()

dict_values(['Somo', 21, 'Indian', 'Brown'])

In [ ]:
# update

In [79]:
names['race'] = 'God'
names['race']

'God'

In [80]:
# add a new key
names['weapon']='Sword'

In [81]:
names

{'name': 'Somo', 'age': 21, 'race': 'God', 'color': 'Brown', 'weapon': 'Sword'}

In [ ]:
# Delete

In [82]:
del names['weapon']
names

{'name': 'Somo', 'age': 21, 'race': 'God', 'color': 'Brown'}

#                                        Conditions and logic

In [83]:
# applying logic using the if statement
name= 'Momo Saab'
if name == 'Momo Saab':
     print("Sup Broo")
else:
    print("Who are you ?")

Sup Broo

In [92]:
probability =float(input('Enter probability(between 0 and 1): '))
if probability >= 0.5:
    print("It will probably happen")
elif(probability < 0):
    print("Invalid Probability")
else:
    print("It will probably not happen")

Enter probability(between 0 and 1): -1
Invalid Probability

In [113]:
# Check if something is in a list
my_list=['a','e','i','o','u']


n=input("Enter alphabet ")
if n in my_list:
    print("It's a vowel ")
elif(n.isalpha()):
    print("It's a consonant ")
else:
    print('Not an alphabet')

Enter alphabet clear
It's a consonant

# Loops

In [22]:
# for loop
names=['Captain Marvel','Bruce Banner','Natasha Romanoff','Clint Bartan','Tony Stark','Thor','Steve Rogers']
for name in names:
    if name=='Captain Marvel':
        print("Technically she is an avenger \n")
        continue
    elif name=='Tony Stark':
        print(name+" the best avenger \n")
        break
    else:
#         print(name)
        pass
    print(name)
print("Out of loop ")

Technically she is an avenger

Bruce Banner
Natasha Romanoff
Clint Bartan
Tony Stark the best avenger

Out of loop

In [24]:
# loop x number of times
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
# while loop
count=0
total=5
while True:
#     String formatting : inject values to our strings
    print("count increased and is now {}".format(count+1))
    count+=1
    if count == total:
        print("All numbers have been printed")
        break

count increased and is now 1
count increased and is now 2
count increased and is now 3
count increased and is now 4
count increased and is now 5
Nothing left to print

 Loop through a dictionary

In [7]:
person={
    "name":"Soumyajit Mandal",
    "age":21,
    "race":"Indian",
    "status":"God"
}

In [8]:
# # accessing dictionary keys
for key in person.keys():
    print(key)

name
age
race
status

In [9]:
# accessing dictionary values
person.values()

dict_values(['Soumyajit Mandal', 21, 'Indian', 'God'])

In [10]:
for value in person.values():
    print(value)

Soumyajit Mandal
21
Indian
God

In [12]:
person.items()
# this creates tuples a list

dict_items([('name', 'Soumyajit Mandal'), ('age', 21), ('race', 'Indian'), ('status', 'God')])

In [14]:
# loop thorug keys and values at the same time 
# with (key,value) we are unpacking them in real time
for key,value in person.items():
        print(key," : ",value)

name  :  Soumyajit Mandal
age  :  21
race  :  Indian
status  :  God

list comprehension

In [25]:
names=['somo','momo','god',"beelzebub"]
new_person=[name.title()for name in names]
new_person

['Somo', 'Momo', 'God', 'Beelzebub']

In [26]:
names

['somo', 'momo', 'god', 'beelzebub']

# Functions

#### purpose : reuse code multiple times

In [33]:
def welcome(name):
        print("Hello",name)

In [34]:
welcome('Momo')

Hello Momo

In [37]:
def add_func(a,b):
    return int(a)+int(b)

In [38]:
num1=input("Enter first number: ")
num2=input("Enter Second number: ")
print("The addition is ",add_func(num1,num2))

Enter first number: 2
Enter Second number: 3
The addition is  5

In [39]:
names=['Somo','Momo','Papa','God','Beelzebub']

In [41]:
def custom_welcome(name):
    print('Welocme {}'.format(name))

In [44]:
person=input("Who are you ? \n")
custom_welcome(person)

Who are you ?
Soumyajit
Welocme Soumyajit

In [45]:
for name in names:
    custom_welcome(name)

Welocme Somo
Welocme Momo
Welocme Papa
Welocme God
Welocme Beelzebub

In [46]:
def name(f_name,m_name,l_name):
    print("Hello {} , your title is {} and middle name is {}".format(f_name,l_name,m_name))

In [47]:
f_name=input("Enter first name")
m_name=input("Enter middle name")
l_name=input("Enter last name")
name(f_name,m_name,l_name)

Enter first nameSomo
Enter middle nameGod
Enter last nameMomo
Hello Somo , your title is Momo and middle name is God

In [55]:
names=['Somo','Momo','Papa','God','Beelzebub']
title=['Hero','Supporter','NPC','Game Master','Villain']

In [56]:
title

['Hero', 'Supporter', 'NPC', 'Game Master', 'Villain']

In [64]:
# loop 2 list together
for i,name in enumerate(names):
    print(i,custom_welcome(name),' title ',title[i])

Welocme Somo
0 None  title  Hero
Welocme Momo
1 None  title  Supporter
Welocme Papa
2 None  title  NPC
Welocme God
3 None  title  Game Master
Welocme Beelzebub
4 None  title  Villain

In [5]:
# default values
def names(name='none'):
    print(name)
    
names()
names('Momo')

none
Momo

lmabda

In [7]:
pi=lambda x: x*3.14
pi(5)

15.700000000000001

## Classes

In [19]:
# a boilerplate for objects
class Person():
#   the methods that run as soon as we come to class
    def __init__(self,name,age,race):
        self.name=name
        self.age=age
        self.race=race 
    def year_of_birth(self):
        return 2023-self.age
    def project_age(self,year=5):
        return self.age+year

In [21]:
somo=Person('Somo',21,'Indian')

In [11]:
somo.age

21

In [12]:
somo.year_of_birth()

2002

In [25]:
# in (x) years I will be ...
somo.project_age(10)

31

In [27]:
# This works too
somo.project_age(year=10)

31

### inheritance 
- Parent passes to child that inhherits the parent class's methods and attributes

In [62]:
# child class = lads
class Lads(Person):
    def __init__(self,name,age,race,lifespan_in_years):
#         super gives us access the papa class
        super().__init__(name,age,race)
        self.lifespan_in_years=lifespan_in_years
#     Also we can use new methods
    def age_left(self):
        return self.project_age(self.lifespan_in_years-self.age)

In [63]:
momo=Lads('Momo',45,'Indian',70)

In [64]:
momo.age
momo.lifespan_in_years
momo.year_of_birth()
momo.age_left()

70